/* GENERAL STYLE */
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* UTILITIES */ 

.pl-20 {
    padding-left: 20px;
}

.p20 {
    padding: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

/* MAIN CONTENT */
main {
    flex-grow: 1;
    display: flex;
    overflow: auto;
}

/* SECTION NAV */
.nav {
    background-color: black;
    color: white;
    width: 15%;
    color: #a3a3a3;
}

.main-menu .list-logo,
.name .list-profilo {
    list-style: none;
    cursor: pointer;
}
.main-menu .list-logo li span,
.main-menu .list-2 li span{ 
    font-size: 14px;

}
.action {
    display: inline-block;
    width: 10%;
    vertical-align: middle;
}

.main-menu .list-logo li {
    border-left: 5px solid transparent
}

.main-menu .list-logo li:hover {
    border-left: 5px solid #6c9f1d
}

.main-menu h4 {
    color: white;
    cursor: pointer;
}

.list-2 li {
    padding: 10px 20px;
    font-size: 12px;
    cursor: pointer;
}

.list-2 li a{
    color:#a3a3a3;
    text-decoration: none;
    font-size: 14px;
}

.list-2 li a:hover{
    text-decoration: underline;
    color: white;
}

.list-2 .action i {
    font-size: 40px;
}

.name {
    position: fixed;
    bottom: 70px;
    left: 0;
    width: 15%;
}

.name li {
    font-size: 12px;
}

.list-profilo li:first-child .action:first-child {
    width: 10%;
}

.download:hover {
    text-decoration: underline;
    color: white;
}

.name .square {
    width: 30px;
    height: 30px;
    background-color:#a3a3a3;
    border-radius: 50%;
    display: inline-block;
}

.name .square img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.name .profilo {
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

.name::before {
    content: '';
    background-color:#a3a3a3;
    width: 12%;
    height: 2px;
    position: fixed;
    bottom: 14%;
    left: 1%;
}

/* SECTION DISPLAY */
.display {
    flex-grow: 1;
}

.display-header {
    height: 70px;
    background-color: lightslategrey;
}

.display-main {
    flex-grow: 1;
    background-color: lightsteelblue;
}



/* FOOTER */
footer {
    background-color: lightgreen;
    height: 70px;
}