/* GENERAL STYLE */
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color:#141922;
    color: white;
}

/* UTILITIES */ 

.pl-20 {
    padding-left: 20px;
}

.pl-10 {
    padding-left: 10px;
}

.p20 {
    padding: 20px;
}

.ma {
    margin: 5px 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

/* MAIN CONTENT */
main {
    flex-grow: 1;
    display: flex;
    overflow: hidden;
}

/* SECTION NAV */
.nav {
    background-color: black;
    color: white;
    width: 230px;
    color: #a3a3a3;
    flex-shrink: 0;
}

.main-menu .list-logo,
.name .list-profilo {
    list-style: none;
    cursor: pointer;
}
.main-menu .list-logo li span,
.main-menu .list-2 li span{ 
    font-size: 14px;

}
.action {
    display: inline-block;
    width: 10%;
    vertical-align: middle;
}

.main-menu .list-logo li {
    border-left: 5px solid transparent
}

.main-menu .list-logo li:hover {
    border-left: 5px solid greenyellow;
    color: white;
}

.main-menu h4 {
    color: white;
    cursor: pointer;
}

.list-2 li {
    padding: 10px 20px;
    font-size: 12px;
    cursor: pointer;
}

.list-2 li:hover {
    color: white;
}

.list-2 li a{
    color:#a3a3a3;
    text-decoration: none;
    font-size: 14px;
}

.list-2 li a:hover{
    text-decoration: underline;
    color: white;
}

.list-2 .action i {
    font-size: 40px;
}

.name {
    position: fixed;
    bottom: 80px;
    left: 0;
    width: 15%;
}

.name li {
    font-size: 12px;
}

.list-profilo li:first-child .action:first-child {
    width: 40px;
}

.download:hover {
    text-decoration: underline;
    color: white;
}

.name .square {
    width: 30px;
    height: 30px;
    background-color:#a3a3a3;
    border-radius: 50%;
    display: inline-block;
}

.name .square img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.name .profilo {
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

.name::before {
    content: '';
    background-color:#a3a3a3;
    width: 10%;
    height: 2px;
    position: fixed;
    bottom: 15%;
    left: 1%;
}

/* SECTION DISPLAY */
.display {
    flex-grow: 1;
    overflow-y: auto;
}

/* SECTION DISPLAY HEADER */
.display-header {
    height: 10%;
    background-color: rgba(0,0,0, .5);
    flex-shrink: 0;
}

.btn {
    position: fixed;
    top: 3%;
    right: 3%;
    z-index: 1;
    font-size: 12px;
    background-color:#333333;
    padding: 5px 30px;
    border-radius: 30px;
    border-color: white;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    transition: transform .1s;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.2);
}

.display-main {
    flex-grow: 1;
}

/* SECTION DISPLAY NAVIGATION */

.navigation .menu-display{
    text-align: center;
    line-height: 50px;
    flex-shrink: 0;
}

.navigation .menu-display li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
    line-height: 10%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    color: lightgray;
    cursor: pointer;
    position: relative;
    transition: transform .1s;
}

.navigation .menu-display li:hover {
    color: white;
    transform: scale(1.1);
}

.navigation .menu-display li:first-child::before {
    content: '';
    width: 30px;
    height: 2px;
    background-color:  greenyellow;
    position: absolute;
    top: 12px;
    left: 50px;
}

/* SECTION ALBUM */

.music {
    padding: 20px 15px;
    margin-bottom: 6%;
}

.album-list {
    list-style: none;
    display: flex;
    cursor: pointer;
    flex-wrap: wrap;
}

.album {
    height: 15rem;
    width: calc(100% / 6 - 15px);
    margin-right: 15px;
    position: relative;
}

.album img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.album .text-album {
    text-align: center;
}

.album .text-album h4 {
    padding: 5px 0;
}

.album .text-album p {
    color: grey;
    font-size: 14px;
}

.music p {
    color: grey;
    font-size: 14px;
}

.circle {
    border-radius: 50%;
}

.music .album i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: transparent;
}

.music .album:hover i {
    color: white;
}


/* FOOTER */
footer {
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    background-color: #282828;
    position: relative;
}

.left {
    padding: 10px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.card-img {
    width: 50px;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.left .text-card p{
    font-size: 13px;
    color: grey;
}

.left .font-awesome {
    color: grey;
}


/* footer center  */
.center {
    padding: 10px 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-list {
    list-style: none;
    display:flex;
    flex-direction: row;
    cursor: pointer;
}

.play {
    font-size: 25px;
    transition: transform .1s;
}

.play:hover {
    transform: scale(1.5);
    color: greenyellow;
}

.bar {
    display: flex;
    align-items: center;
}

.progress-bar {
    width: 20rem;
    height: 3px;
    background-color: white;
    border-radius: 2px;
    position: relative;
    cursor: pointer;
}

.progress-bar .time-progress {
    width: 30%;
    height: 100%;
    border-radius: 2px;
    background-color: #ccc;
    
}

.progress-bar:hover .time-progress {
    background-color: greenyellow;
}

.time-now {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color:transparent;
    position:absolute;
    bottom: -7px;
    left: 30%;
}

.progress-bar:hover .time-now {
    background-color: #ccc;
}

/* footer-right */
.right {
    padding: 10px 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.footer-right .progress-bar {
    width: 5rem;
}

.fz {
    font-size: 15px;
}


/* MEDIA QUERY */ 

/* 1100 */
@media screen and (max-width: 1100px) {
    .music-view .music li {
        width: calc(100% / 4 - 15px);
        margin-bottom: 15%;
    }

    .music-view .music {
        margin-top: -12%;
    }

    .music-view .music:first-child {
        margin-top: 3%;
    }
    
    .nav .name {
        width: 20%;
    }

    .name::before {
        width: 12%;
        bottom: 17%;
        left: 2%;
    }

    .music-view .album {
        height: 12rem;
    }

    #pl {
        padding-left: 0px;
    }
}



@media screen and (max-width: 600px) {

    .nav .logo img {
        display: none;
    }

    .nav .logo {
        background-image: url(../img/logo-small.svg);
        background-repeat: no-repeat;
        background-position: center;
        margin: 20px 0;
    }

    .nav .name {
        width: 40%;
    }

    .name::before {
        width: 30%;
    }

    .music-view .music li {
        width: calc(100% / 2 - 15px);
        margin-bottom: 45%;
    }

    .music-view .album {
        height: 10rem;
    }
}


